* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}
*:focus {
  outline: none;
}
*:hover {
  cursor: pointer;
}

#wrapper {
  background-color: #ffffff;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  width: 700px;
  border: 1px solid black;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
#nav #buttons {
  display: flex;
}
#nav #buttons #github {
  background-color: #ffffff;
  margin-right: 5px;
  width: 50px;
}
#nav img {
  height: 30px;
}
#nav #title {
  font-size: 30px;
  font-family: "Wellfleet", monospace;
}
#nav button {
  background-color: #ff9393;
  border: none;
  border-radius: 50px;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  font-family: "IBM Plex Mono", monospace;
}

#search {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
}
#search input {
  width: 680px;
  height: 40px;
  margin: 10px;
  border-radius: 100px;
  outline: none;
  background-color: #8e8e8e;
  border: none;
  padding-left: 15px;
  font-size: 20px;
  font-style: italic;
  font-family: "IBM Plex Mono", monospace;
}
#search button {
  background-color: #ff9393;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 100px;
  margin-right: 10px;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
#result #word {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  margin: 10px;
}
#result #definition {
  font-family: "Wellfleet", monospace;
  font-size: 20px;
  margin: 10px;
}
#result #synonymn {
  border-radius: 100px;
  width: fit-content;
  margin: auto;
  background-color: #ff9393;
}
#result #synonymn #syns {
  font-family: "Wellfleet", monospace;
  font-size: 15px;
  margin: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#footer #footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "IBM Plex Mono", monospace;
}
#footer #footer-text a {
  text-decoration: none;
  color: #ff9393;
}
#footer #footer-text #footer-text {
  margin-left: 5px;
}
#footer #footer-text #hidden {
  color: transparent;
}

.dark-mode {
  transition: background-color 0.5s ease;
}
.dark-mode #wrapper {
  background-color: #252525;
}
.dark-mode #nav #buttons #github {
  background-color: #ffffff;
  margin-right: 5px;
  width: 50px;
}
.dark-mode #search {
  border: 1px solid #ffffff;
}
.dark-mode #search input {
  background-color: #ffffff;
}
.dark-mode #search #button {
  color: #ffffff;
}
.dark-mode #title {
  color: #ffffff;
}
.dark-mode #result {
  border: 1px solid #ffffff;
}
.dark-mode #result #word {
  color: #ffffff;
}
.dark-mode #result #definition {
  color: #ffffff;
}
.dark-mode #result #synonymn {
  border: 1px solid #ffffff;
  border: none;
}
.dark-mode #result #synonymn #syns {
  color: #252525;
}

@media only screen and (max-width: 600px) {
  #container {
    width: 370px;
  }
  #nav {
    font-size: 15px;
  }
  #nav img {
    height: 20px;
  }
  #nav #title {
    font-size: 20px;
  }
  #nav #buttons button {
    font-size: 12px;
  }
  #nav #buttons #change-mode {
    width: 50px;
  }
  #search input {
    width: 300px;
    height: 30px;
    font-size: 12px;
  }
  #search button {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }
  #result #word {
    font-size: 20px;
  }
  #result #definition {
    font-size: 15px;
  }
  #result #synonymn #syns {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
